{% extends "SkwebIncludeBundle:Include:base_admin.html.twig" %}
                {% block Skweb_content %}
                  {%set id_c=app.request.query.get("id_c")%}
                  {%if(is_granted("ROLE_ADMIN"))%}
                      {{ render(controller("SkwebAdminpageBundle:AdminCrud:menuAdmin",{'id_c':id_c})) }}
                  {%endif%}
                    <div ui-view="mainView" class="page-content page-relative nga-default nga-stagger nga-fade"><accordion-group binding-field="model.page.page_data.page_title" class=""> <div class="accordion-group accordion-group-default"><div class="accordion-group-heading "><h3 class="accordion-group-title"><font><font>Payment Gateway State</font></font></h3></div><div class="accordion-group-body ">
    <div class="row-fluid">
        <div class="spansm-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="">Gateway</th>
                            <th class=""><font><font>Storage Enabled</font></font></th>
                            <th class=""><font><font>withdrawal Enabled</font></font></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td class=""><font><font>Credit card</font></font></td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" class="">
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                <input type="checkbox" class="">
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-small" ng-click="openModal(item)"><font><font>
                                    modification
                                </font></font></button>
                            </td>
                        </tr><tr class="">
                            <td class=""><font><font>Bank transfer</font></font></td>
                            <td>
                                <div class="checkbox">
                                    <input type="checkbox" class="">
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                <input type="checkbox" class="">
                                    <label></label>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-small" ng-click="openModal(item)"><font><font>
                                    modification
                                </font></font></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div></div></accordion-group>

<script type="text/ng-template" id="modalGatewaySetting.html" class="">
    <div class="modal-header">
        <h3 class="modal-title">{{model.gateway.gateway}}</h3>
    </div>
    <form class="form-inline" ng-class="{ 'show-errors': showErrors }" ng-submit="save()" name="form" class="css-form" novalidate>
    <div class="modal-body">
            <div class="row-fluid">
                <form-errors ng-if="!form.$valid"  form="form" class="ul.unstyled"></form-errors>
                    <div class="spansm-6">
                        <field-set-accordion-group binding-field="Costi sul versamento (ND)">

                                <div class="spansm-12">
                                        <div class="radio">
                                                <input type="radio"
                                                       name="deposit_type"
                                                       ng-model="model.gateway.deposit_type"
                                                       ng-value="1">
                                            <label>
                                                {{model.page.page_data.no_cost.title}}
                                            </label>
                                        </div>
                                </div>
                                <div class="spansm-12">
                                    <div class="radio">

                                            <input type="radio"
                                                   name="deposit_type"
                                                   ng-model="model.gateway.deposit_type"
                                                   ng-value="2">
                                        <label></label>
                                    </div>
                                    <div class="control-group">
                                        <label for="cost_fixed_deposit">{{model.page.page_data.cost_fixed.title}} ({{$root.model.systemCurrency.code}})</label>
                                        <input type="text" pattern="^[0-9]\d*(\.\d+)?$" ng-min="0" ng-model="model.gateway.d_cost_fixed" style="width:80px" class="input-block-level" id="cost_fixed_deposit">
                                    </div>

                                </div>
                                <div class="spansm-12">
                                    <div class="radio">

                                            <input type="radio"
                                                   name="deposit_type"
                                                   ng-model="model.gateway.deposit_type"
                                                   ng-value="3">
                                        <label></label>
                                    </div>
                                    <div class="control-group">
                                        <label for="perc_from_deposit">{{model.page.page_data.perc_from.title}}</label>
                                        <input type="text" pattern="[0-9]+(\.[0-9][0-9]?)?" ng-min="0" ng-max="100" ng-model="model.gateway.d_perc_from" style="width:80px"
                                               class="input-block-level" id="perc_from_deposit">
                                    </div>
                                    <div class="control-group">
                                        <label for="perc_to_deposit">{{model.page.page_data.perc_to.title}}</label>
                                        <input type="text" pattern="[0-9]+(\.[0-9][0-9]?)?" ng-min="0" ng-max="100" ng-model="model.gateway.d_perc_to" style="width:80px"
                                               class="input-block-level" id="perc_to_deposit">
                                    </div>

                                </div>
                                <div class="spansm-12">
                                    <label for="deposit_min">{{model.page.page_data.deposit_min.title}} ({{$root.model.systemCurrency.code}})</label>
                                    <input type="text"  ng-required="true" pattern="^[0-9]\d*(\.\d+)?$" ng-model="model.gateway.deposit_min" style="width:80px"
                                           class="input-block-level" id="deposit_min">
                                </div>

                        </field-set-accordion-group>
                    </div>
                    <div class="spansm-6">
                        <field-set-accordion-group binding-field="Costi sul prelievo (ND)">

                                <div class="spansm-12">
                                    <div class="radio">

                                            <input type="radio"
                                                   name="withdraw_type"
                                                   ng-model="model.gateway.withdraw_type"
                                                   ng-value="1">
                                        <label>
                                            {{model.page.page_data.no_cost.title}}
                                        </label>
                                    </div>
                                </div>
                                <div class="spansm-12">
                                    <div class="radio">

                                            <input type="radio"
                                                   name="withdraw_type"
                                                   ng-model="model.gateway.withdraw_type"
                                                   ng-value="2">
                                        <label></label>
                                    </div>
                                    <div class="control-group">
                                        <label for="cost_fixed_withdraw">{{model.page.page_data.cost_fixed.title}} ({{$root.model.systemCurrency.code}})</label>
                                        <input type="text" pattern="^[0-9]\d*(\.\d+)?$" ng-model="model.gateway.w_cost_fixed" style="width:80px"
                                               class="input-block-level" id="cost_fixed_withdraw">
                                    </div>

                                </div>
                                <div class="spansm-12">
                                    <div class="radio">

                                            <input type="radio"
                                                    name="withdraw_type"
                                                    ng-model="model.gateway.withdraw_type"
                                                    ng-value="3">
                                        <label></label>
                                    </div>
                                    <div class="control-group">
                                        <label for="perc_from_withdraw">{{model.page.page_data.perc_from.title}}</label>
                                        <input type="text" pattern="[0-9]+(\.[0-9][0-9]?)?" ng-max="100" ng-model="model.gateway.w_perc_from" style="width:80px"
                                               class="input-block-level" id="perc_from_withdraw">
                                    </div>
                                    <div class="control-group">
                                        <label for="perc_to_withdraw">{{model.page.page_data.perc_to.title}}</label>
                                        <input type="text" pattern="[0-9]+(\.[0-9][0-9]?)?" ng-max="100" ng-model="model.gateway.w_perc_to" style="width:80px"
                                               class="input-block-level" id="perc_to_withdraw">
                                    </div>
                                </div>
                                <div class="spansm-12">
                                    <label for="withdraw_min">{{model.page.page_data.withdraw_min.title}} ({{$root.model.systemCurrency.code}})</label>
                                    <input type="text" ng-required="true" pattern="^[0-9]\d*(\.\d+)?$"  ng-model="model.gateway.withdraw_min" style="width:80px"
                                           class="input-block-level" id="withdraw_min">
                                </div>

                        </field-set-accordion-group>
                    </div>


            </div>


        

    </div>

    <div class="modal-footer">
        <button type="submit"
                class="btn btn-primary"
                ng-disabled="form.$invalid">{{model.page.page_data.modify.title}}</button>
        <button type="button"
                class="btn btn-info"
                ng-click="closeModal()">Cancella (ND)</button>
    </div>
    </form>
</script>
</div>
                {% endblock Skweb_content %}