{% extends "SkwebIncludeBundle:Include:base_admin.html.twig" %}
                {% block Skweb_content %}
                  {%set id_c=app.request.query.get("id_c")%}
                  {%if(is_granted("ROLE_ADMIN"))%}
                      {{ render(controller("SkwebAdminpageBundle:AdminCrud:menuAdmin",{'id_c':id_c})) }}
                  {%endif%}
                    <div ui-view="mainView" class="page-content page-relative nga-default nga-stagger nga-fade"><div ng-include="&apos;src/backend/userManagement/common/userNavbar.html&apos;" class=""><div ng-controller="userNavCtrl" class="">
    <div class="scrolling-tabs-container scrtabs-tab-container" scrolling-tabs-wrapper=""> <div class="scrtabs-tab-scroll-arrow-fluid scrtabs-js-tab-scroll-arrow-fluid-left"><span class="glyphicon glyphicon-chevron-left"></span></div>   <div class="scrtabs-tabs-fixed-container" style="width: 1074px;">     <div class="scrtabs-tabs-movable-container" style="width: 1208px;">
        <div class="tabset-subpage">
  <ul class="nav nav-tabs">
            <li class="uib-tab nav-item" active="tab.active" select="moveTo(key)" style="">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Profile
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item active" active="tab.active" select="moveTo(key)" style="">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Safety
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font class=""> permits
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> limits
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> operations
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Documents
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> list Movements
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> list Access
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> historical States
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> historical Transactions
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i> Bonus
                </uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Third parts
                </font></font></uib-tab-heading></a>
</li>
        </ul>
  <div class="tab-content">
    <div class="tab-pane" uib-tab-content-transclude="tab" style="">
    
                
            </div><div class="tab-pane active" uib-tab-content-transclude="tab" style="">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div>
  </div>
</div>
    </div>   </div> <div class="scrtabs-tab-scroll-arrow-fluid scrtabs-js-tab-scroll-arrow-fluid-right"><span class="glyphicon glyphicon-chevron-right"></span></div> <div class="scrtabs-tab-content-outside-movable-container">
        <div class="tabset-subpage">
  <ul class="nav nav-tabs">
            <li class="uib-tab nav-item active" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Profile
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Safety
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> permits
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> limits
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> operations
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Documents
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> list Movements
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> list Access
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> historical States
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> historical Transactions
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Bonus
                </font></font></uib-tab-heading></a>
</li><li class="uib-tab nav-item" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link" uib-tab-heading-transclude=""><uib-tab-heading class="">
                    <i class=""></i><font><font> Third parts
                </font></font></uib-tab-heading></a>
</li>
        </ul>
  <div class="tab-content">
    <div class="tab-pane active" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div><div class="tab-pane" uib-tab-content-transclude="tab">
    
                
            </div>
  </div>
</div>
    </div></div>
</div>
</div>
<div ng-include="&apos;src/backend/userManagement/userTemplate/userInfo.html&apos;" class=""><div class="user-info-relative">
    <div uib-collapse="!isCollapsed" class="collapse" style="height: 0px;">

    </div>
    <div class="user-info-toggle text-center">
        <div class="user-info-btn-toggle" style="cursor: pointer" ng-click="isCollapsed = !isCollapsed">
            <i ng-class="{&apos;icon-angle-circled-up&apos;: !isCollapsed,&apos;icon-angle-circled-down&apos;: isCollapsed}" class="icon-angle-circled-up"></i>
        </div>
    </div>
</div></div>
<div class="userEditView" ui-view="userEditView" style=""><div class="accordion-group accordion-group-default accordion-group-page">
    <div class="row-fluid">
        <div class="spansm-5">
            <form ng-class="{ &apos;show-errors&apos;: showErrors }" name="form" class="css-form ng-valid-compare-to ng-valid-ng-max ng-valid-ng-min" novalidate="">
                    <ul class="ul.unstyled form-errors" form="form"><li class="form-error">Field Form has errors.</li><li class="form-error">Field Form Pwd has errors.</li></ul>
                <field-set-accordion-group binding-field="Password" class=""><fieldset class="scheduler-border"><legend class="scheduler-border-label"><i class=""></i><font><font> Password</font></font></legend><div>
                    <div class="spansm-12">
                        <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" name="Nuova password" model="model.security.password" type="password" require="true" regexp="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&amp;*-]).{8,24}$" spanlabel="spansm-5" spaninput="spansm-7"><ng-form name="fieldForm" class="ng-valid-ng-max ng-valid-ng-min"><label class="spansm-5 control-label"><font><font>New password </font></font><span ng-show="true" class=""><font><font>*</font></font></span></label><div class="spansm-7"><input type="password" autocomplete="off" name="Nuova password" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&amp;*-]).{8,24}$" class="input-block-level ng-valid-ng-max ng-valid-ng-min" placeholder="Nuova password" required="required"></div></ng-form></div>




                        <ng-form name="fieldFormPwd" class="ng-valid-compare-to">
                            <div class="control-group has-feedback" ng-class="{&apos;has-error&apos; : (form.$invalid &amp;&amp; form.confirmPassword.$touched)}">
                                <label class="spansm-5 control-label"><font><font>Repeat Password (ND) *</font></font></label>
                                <div class="spansm-7">
                                    <input type="password" class="input-block-level ng-valid-compare-to" placeholder="Ripeti Password" name="confirmPassword" compare-to="model.security.password" required="required">
                                    
                                    
                                    
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <div class="span12">
                        <button type="button" class="btn btn-primary pull-right" ng-class="{ disabled: userSecurityForm.$invalid }" ng-click="savePassword(this)"><font><font>
                            Save
                        </font></font></button>
                    </div>
                </div></fieldset></field-set-accordion-group>
            </form>
        </div>
        <div class="spansm-7">
            <!--field-set-accordion-group binding-field="{{model.page.page_data.monitoring.title}}">
                <form name="monitoringForm" ng-submit="saveMonitoring()" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.financial_movement.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.financial_movement.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.financial_movement"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_fin.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_fin.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_fin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.game_movement.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.game_movement.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.game_movement"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_game.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_game.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_game"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.login_activity.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.login_activity.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.login_activity"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_login.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_login.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_login"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="spanxs-12">
                            <button type="submit" class="btn btn-primary pull-right">
                                {{model.page.page_data.save.title}}
                            </button>
                        </div>
                    </div>
                </form>
            </field-set-accordion-group-->
        </div>
    </div>
    <form class="form-horizontal" name="noteForm" novalidate="">
        <div class="row-fluid">
            <div class="spanxs-12">
                <textarea class="spanxs-12" row-fluids="10" required="required"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="spanxs-12">
                <button type="submit" class="pull-right btn btn-primary" disabled="disabled"><font><font>
                    Save note
                </font></font></button>
            </div>
        </div>
    </form>
    <div class="row-fluid">
        <div class="spanxs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><font><font>creation date</font></font></th>
                            <th><font><font>Note</font></font></th>
                            <th><font><font>Administrator</font></font></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div></div></div>
                {% endblock Skweb_content %}