<div id="uiViewContainer" class="span12">
                    <!-- uiView: mainView --><div ui-view="mainView" class="page-content page-relative nga-default nga-stagger nga-fade ng-scope"><!-- ngInclude: 'src/backend/userManagement/common/userNavbar.html' --><div ng-include="'src/backend/userManagement/common/userNavbar.html'" class="ng-scope"><div ng-controller="userNavCtrl" class="ng-scope">
    <div class="scrolling-tabs-container scrtabs-tab-container" scrolling-tabs-wrapper=""> <div class="scrtabs-tab-scroll-arrow-fluid scrtabs-js-tab-scroll-arrow-fluid-left"><span class="glyphicon glyphicon-chevron-left"></span></div>   <div class="scrtabs-tabs-fixed-container" style="width: 1074px;">     <div class="scrtabs-tabs-movable-container" ng-transclude="" style="width: 1208px;">
        <div class="tabset-subpage ng-scope ng-isolate-scope">
  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
            <!-- ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)" style="">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Profile
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope active" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)" style="">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Safety
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font class=""> permits
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> limits
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> operations
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Documents
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> list Movements
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> list Access
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> historical States
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> historical Transactions
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i> Bonus
                </uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Third parts
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav -->
        </ul>
  <div class="tab-content">
    <!-- ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab" style="">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope active" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab" style="">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs -->
  </div>
</div>
    </div>   </div> <div class="scrtabs-tab-scroll-arrow-fluid scrtabs-js-tab-scroll-arrow-fluid-right"><span class="glyphicon glyphicon-chevron-right"></span></div> <div class="scrtabs-tab-content-outside-movable-container" ng-transclude="">
        <div class="tabset-subpage ng-scope ng-isolate-scope">
  <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
            <!-- ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope active" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Profile
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Safety
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> permits
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> limits
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> operations
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Documents
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> list Movements
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> list Access
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> historical States
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> historical Transactions
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Bonus
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav --><li ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-isolate-scope" ng-repeat="(key,tab) in model.nav" active="tab.active" select="moveTo(key)">
  <a href="" ng-click="select()" class="nav-link ng-binding" uib-tab-heading-transclude=""><uib-tab-heading class="ng-binding ng-scope">
                    <i class=""></i><font><font> Third parts
                </font></font></uib-tab-heading></a>
</li><!-- end ngRepeat: (key,tab) in model.nav -->
        </ul>
  <div class="tab-content">
    <!-- ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope active" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab">
    
                
            </div><!-- end ngRepeat: tab in tabset.tabs -->
  </div>
</div>
    </div></div>
</div>
</div>
<!-- ngInclude: 'src/backend/userManagement/userTemplate/userInfo.html' --><div ng-include="'src/backend/userManagement/userTemplate/userInfo.html'" class="ng-scope"><div class="user-info-relative ng-scope">
    <div uib-collapse="!isCollapsed" class="collapse" style="height: 0px;">

    </div>
    <div class="user-info-toggle text-center">
        <div class="user-info-btn-toggle" style="cursor: pointer" ng-click="isCollapsed = !isCollapsed">
            <i ng-class="{'icon-angle-circled-up': !isCollapsed,'icon-angle-circled-down': isCollapsed}" class="icon-angle-circled-up"></i>
        </div>
    </div>
</div></div>
<!-- uiView: userEditView --><div class="userEditView ng-scope" ui-view="userEditView" style=""><div class="accordion-group accordion-group-default accordion-group-page ng-scope">
    <div class="row-fluid">
        <div class="spansm-5">
            <form ng-class="{ 'show-errors': showErrors }" name="form" class="css-form ng-pristine ng-invalid ng-invalid-required ng-valid-compare-to ng-valid-ng-max ng-valid-ng-min ng-valid-pattern ng-valid-minlength ng-valid-maxlength" novalidate="">
                    <!-- ngIf: !this.form.$valid --><ul class="ul.unstyled form-errors ng-scope ng-isolate-scope" ng-if="!this.form.$valid" form="form"><!-- ngRepeat: error in errors track by $index --><li class="form-error ng-binding ng-scope" ng-repeat="error in errors track by $index">Field Form has errors.</li><!-- end ngRepeat: error in errors track by $index --><li class="form-error ng-binding ng-scope" ng-repeat="error in errors track by $index">Field Form Pwd has errors.</li><!-- end ngRepeat: error in errors track by $index --></ul><!-- end ngIf: !this.form.$valid -->
                <field-set-accordion-group binding-field="Password" class="ng-isolate-scope"><fieldset class="scheduler-border"><legend class="scheduler-border-label ng-binding"><i class=""></i><font><font> Password</font></font></legend><div ng-transclude="">
                    <div class="spansm-12 ng-scope">
                        <div class="control-group has-feedback ng-isolate-scope" ng-class="{'has-error' : fieldForm[name].$invalid &amp;&amp; fieldForm[name].$touched}" name="Nuova password" model="model.security.password" type="password" require="true" regexp="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&amp;*-]).{8,24}$" spanlabel="spansm-5" spaninput="spansm-7"><ng-form name="fieldForm" class="ng-pristine ng-valid-ng-max ng-valid-ng-min ng-valid-pattern ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength"><label class="spansm-5 control-label"><font><font>New password </font></font><span ng-show="true" class=""><font><font>*</font></font></span></label><div class="spansm-7"><input type="password" autocomplete="off" name="Nuova password" tooltip-enable="true" tooltip-trigger="focus" tooltip-placement="top" tooltip="" tooltip-class="infoTooltipClass" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&amp;*-]).{8,24}$" ng-model="model" ng-disabled="" ng-init="model = init" class="input-block-level ng-pristine ng-untouched ng-valid-ng-max ng-valid-ng-min ng-valid-pattern ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength" placeholder="Nuova password" ng-required="true" required="required"><!-- ngIf: fieldForm[name].$invalid && fieldForm[name].$touched --><!-- ngIf: fieldForm[name].$invalid && fieldForm[name].$touched --><!-- ngIf: fieldForm[name].$invalid && fieldForm[name].$touched --></div></ng-form></div>




                        <ng-form name="fieldFormPwd" class="ng-pristine ng-invalid ng-invalid-required ng-valid-compare-to">
                            <div class="control-group has-feedback" ng-class="{'has-error' : (form.$invalid &amp;&amp; form.confirmPassword.$touched)}">
                                <label class="spansm-5 control-label"><font><font>Repeat Password (ND) *</font></font></label>
                                <div class="spansm-7">
                                    <input type="password" class="input-block-level ng-pristine ng-untouched ng-isolate-scope ng-invalid ng-invalid-required ng-valid-compare-to" placeholder="Ripeti Password" ng-required="true" name="confirmPassword" ng-model="model.security.confirmPassword" compare-to="model.security.password" required="required">
                                    <!-- ngIf: form.confirmPassword.$invalid && form.confirmPassword.$touched -->
                                    <!-- ngIf: form.$invalid && form.confirmPassword.$touched -->
                                    <!-- ngIf: form.$invalid && form.confirmPassword.$touched -->
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <div class="span12 ng-scope">
                        <button type="button" class="btn btn-primary pull-right ng-binding" ng-class="{ disabled: userSecurityForm.$invalid }" ng-click="savePassword(this)"><font><font>
                            Save
                        </font></font></button>
                    </div>
                </div></fieldset></field-set-accordion-group>
            </form>
        </div>
        <div class="spansm-7">
            <!--field-set-accordion-group binding-field="{{model.page.page_data.monitoring.title}}">
                <form name="monitoringForm" ng-submit="saveMonitoring()" class="form-horizontal">
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.financial_movement.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.financial_movement.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.financial_movement"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_fin.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_fin.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_fin"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.game_movement.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.game_movement.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.game_movement"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_game.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_game.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_game"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.login_activity.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.login_activity.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.login_activity"></div>
                                </div>
                            </div>
                        </div>
                        <div class="spanxs-2">
                            <i class="fa fa-angle-right fa-2x fa-align-center"></i>
                        </div>
                        <div class="span-5">
                            <div class="control-group">
                                <label class="control-label spansm-5">{{model.page.page_data.send_alert_login.title}}</label>
                                <div class="spansm-7">
                                    <div ng-dropdown-multiselect=""
                                         options="model.page.page_data.send_alert_login.data"
                                         extra-settings="model.settingMultiSelect"
                                         selected-model="model.monitoring.send_alert_login"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="spanxs-12">
                            <button type="submit" class="btn btn-primary pull-right">
                                {{model.page.page_data.save.title}}
                            </button>
                        </div>
                    </div>
                </form>
            </field-set-accordion-group-->
        </div>
    </div>
    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-submit="saveNote()" ng-class="{ 'show-errors': showErrors }" name="noteForm" novalidate="">
        <div class="row-fluid">
            <div class="spanxs-12">
                <textarea ng-model="model.textNote" class="spanxs-12 ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-required="true" row-fluids="10" required="required"></textarea>
            </div>
        </div>
        <div class="row-fluid">
            <div class="spanxs-12">
                <button type="submit" ng-disabled="noteForm.$invalid" class="pull-right btn btn-primary ng-binding" disabled="disabled"><font><font>
                    Save note
                </font></font></button>
            </div>
        </div>
    </form>
    <div class="row-fluid">
        <div class="spanxs-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><font><font>creation date</font></font></th>
                            <th><font><font>Note</font></font></th>
                            <th><font><font>Administrator</font></font></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ngRepeat: item in model.page.page_value.security_note -->
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div></div></div>
                </div><head><title>change_password</title></head>